@font-face {
  font-family: 'SFPro';
  src: url(/font/SFPRODISPLAYREGULAR.OTF);
}
@font-face {
  font-family: 'SFProBold';
  src: url(/font/SFPRODISPLAYBOLD.OTF);
}
:root{
  --color-1: #161617e0;
  --color-2: #161617e0;
  --text-color: #f0f0f0;
  --accent-color: #0071E3;
  --background-color: #494949;
  --border-color: #979797;
}
*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
html{
font-family: 'SFPro';
}
nav{
height: 80px;
background-color: var(--color-1);
display: flex;
justify-content: flex-end;
align-items: center;
font-size: 20px;
font-family: 'SFProBold';
}
.links-container{
height: 100%;
width: 100%;
display: flex;
flex-direction: row;
align-items: center;
}
nav a{
height: 100%;
padding: 0 40px;
display: flex;
align-items: center;
text-decoration: none;
color: var(--text-color);
transition: .5s all ease;
}
nav a:hover{
background-color: var(--accent-color);
}
nav .name-link{
margin-right: auto;
}
nav .name-link:hover {
background-color: var(--color-2);
}
nav svg{
fill: var(--text-color);
}
#sidebar-active{
display: none;
}
.open-sidebar-button, .close-sidebar-button{
display: none;
}

.header {
  width: 100%;
  padding: 15px;
  background: #333;
  border-radius: 7px 7px 0 0;
}

.window {
  width: 60vw;
  background: var(--background-color);
  height: 500px;
  border-radius: 7px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
}

.dot {
  height: 15px;
  width: 15px;
  background: #FF5F56;
  display: inline-block;
  border-radius: 50%;
  margin-right: 7px;
  stroke: #E0443E;
  stroke-width: .5;
  
}

.dot:nth-child(2) {  
  background: #FFBD2E;
}

.dot:nth-child(3) {  
  background: #27C93F;
}


.contact-input {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 21vw;
  padding: 20px 50px;
}
.contact-input input {
  border: none;
  font-family: 'SFPro';
  background-color: var(--background-color);
  border-bottom: 2px solid var(--border-color);
  height: 50px;
  width: 15.6vw;
  color: var(--border-color);
  font-size: 1vw;
  transition: .4s ease;
}
input:focus {
  outline: none;
  border-bottom: 2px solid var(--accent-color);
  color: var(--text-color);

}
::placeholder{
  color: var(--border-color); 
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.contact-input h1 {
  font-size: 2.5vw;
  color: var(--text-color);
  
}
.contact-inner {
  display: flex;
  align-items: center;
}

textarea {
  background-color: white;
  font-family: 'SFPro';
  font-size: 1vw;
  margin: 20px 0;
  border-radius: 7px;
  height: 100px;
  padding: 5px;
  resize: none;
  outline: none;
  color: var(--border-color);
  width: 15.6vw;
}

.contact-button {
  width: 100px;
  border: 2px solid 	#A5C9FF;
  background-color: transparent;
  border-radius: 50px;
  color: 	#A5C9FF;
  height: 40px;
  font-family: 'SFPro';
  font-size: 15px;
  cursor: pointer;
  transition: 0.4s ease all;
}
.contact-button:hover {
  background-color: #A5C9FF;
  color: var(--background-color);
}
.map iframe{
  width: 21vw;
  height: 15vw;
  border-radius: 7px;
}

@media(max-width: 1200px) {
nav {
    font-size: 18px;
}
nav a {
    padding: 0 30px;
}

}

@media(max-width: 950px){

}
@media(max-width: 800px) {
  nav {
      font-size: 16px;
  }
}
@media(max-width: 730px) {

nav .name-link {
  display: none;
}
.links-container{
  justify-content: center;
}
}
@media(max-width: 600px){
nav {
  font-size: 15px;
}
nav a {
  padding: 0 20px;
}
}

@media(max-width: 490px){
.links-container{
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start; 
  position: fixed;
  top: 0;
  right: -100%;
  z-index: 10;
  width: 300px;

  background-color: var(--color-1);
  box-shadow: -5px 0 5px rgba(0, 0, 0, 0.25);
  transition: 0.75s ease-out;
}
nav a{
  box-sizing: border-box;
  height: auto;
  width: 100%;
  padding: 20px 30px;
  justify-content: flex-start;
}
.open-sidebar-button, .close-sidebar-button{
  padding: 20px;
  display: block;
}
#sidebar-active:checked ~ .links-container{
  right: 0;
}
#sidebar-active:checked ~ #overlay{
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
}
}